@import "tailwindcss";

/* Visitor Font */
@font-face {
  font-family: "Manrope";
  src: url('./assets/fonts/MANROPE-VARIABLEFONT_WGHT.TTF');
}

/* Dashboard Font */
@font-face {
  font-family: "Rubik";
  src: url('./assets/fonts/RUBIK-VARIABLEFONT_WGHT.TTF');
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --color-primary-blue: #3B82F6;
  --color-secondary-blue: #000068;
  --color-accent-gold: #FCD34D;
  --color-pure-gold: gold;
}

/* Navbar */
.text-shadow-gold{
    text-shadow: 2px 2px 8px #FCD34D;
}
.gold-shadow:hover{
    box-shadow: 0 2px 12px 5px gold
}

/* Navlinks */
.navlink{
    position: relative;
    display: inline;
}
.navlink:hover{
    color: var(--color-accent-gold);
    text-shadow: 0 0 8px, 0 0 12px gold;
    font-weight: 600;
}
.navlink::before,
.navlink::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: gold;
    transition: all 0.3s ease;
}
.navlink::before{
    top: 0;
    transform: translateX(-50%);
}
.navlink::after{
    bottom: -5px;
    transform: translateX(-50%);
}
.navlink:hover::before,
.navlink:hover::after{
    width: 100%;
}

/* Mobile Navbar */
.navlink-mobile{
    position: relative;
    display: inline;
}
.navlink-mobile:hover{
    color: var(--color-accent-gold);
}
.navlink-mobile::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transform: translateX(0%);
    background-color: var(--color-accent-gold);
}
.navlink-mobile:hover::after{
    width: 100%;
}

/* Home hero */
.home-hero{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.search-btn{
    font-size: 10px;
    background: var(--color-primary-blue);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.box-shadow{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.new-rel{
    position: relative;
}
.new-rel::before{
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 5px;
    height: 35px;
    background-color: #FCD34D;
}
